.user-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
}

.user-card {
  min-width: 30%;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.card-link {
  font-weight: 700;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
